@use "./variables" as *;
@use "./typography" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "NunitoSans";
    font-size: 1.6rem;
    margin: 0;
    color: $light-mode-text;
    background-color: $light-mode-background;
}

a {
    text-decoration: none;
    color: $light-mode-text;
}