@font-face {
    font-family: "NunitoSans";
    src: url("../../assets/fonts/NunitoSans-Light.ttf") format("TrueType");
        font-weight: 300;
}

@font-face {
    font-family: "NunitoSans";
    src: url("../../assets/fonts/NunitoSans-SemiBold.ttf") format("TrueType");
        font-weight: 600;
}

@font-face {
    font-family: "NunitoSans";
    src: url("../../assets/fonts/NunitoSans-ExtraBold.ttf") format("TrueType");
        font-weight: 800;
}
