@use "../partials/variables" as *;
@use "../partials/mixins" as *;

a {
    text-decoration: none;
    color: $light-mode-text;
}

.header {
    margin: 0 auto;
    padding: 2.5rem 1.5rem;
    box-shadow: 0 0.25rem hsl(0, 0%, 93%);
    @include flex (initial, space-between, center, nowrap);
    background-color: white;
    font-size: 1.2rem;

    @include tablet {
        font-size: 1.5rem;
        padding: 2.5rem 3rem;
    }

    @include desktop {
        padding: 2.5rem 8rem;
    }

    &__title {
        font-weight: 800;
    }

    &__dark-title {
        padding-left: 1rem;
        font-weight: 600;
    }
}